body {
    background-color:#F8FAF9;   
    font-family: 'Roboto', sans-serif;
}


.linkRow {
    text-align: center;
    margin-bottom: 40px;
}
#title {
    font-family: "Noto Serif", serif;
    font-size: 7rem;
    color: rgb(243, 243, 235);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 35px;
    font-weight: bold;
}

#save-article {
    display: inline-block;
    margin-left: 3px;
}

#delete-article {
    display: inline-block;
    margin-left: 3px;
}

li {
    text-align: justify;
}

#id {
    text-align: center;
}

.article {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    color: rgb(29, 29, 27);
    background-color: rgb(243, 243, 235);
    border-radius: 3px;
    min-height: 600px;
    font-size: 1.25rem;
}

#scrapeBtn {
    background-color:#2C63ae;
    border-radius: 25px;
    letter-spacing: 1.08px;
}

#clearBtn {
    background-color:#2C63ae;
    border-radius: 25px;
    letter-spacing: 1.08px;
}

#saveBtn {
    margin : 0px;
    text-align: center;
    background-color: white;
    color:#2C63ae;
    border-radius: 25px;
    letter-spacing: 1.08px;
}

#saveBtn:hover {
    color: white;
    background-color:#2C63ae;
}

#scrapeBtn:hover {
    background-color: #2C63ae;
}

#deleteBtn {
    margin : 0px;
    text-align: center;
    background-color: white;
    color:rgb(214, 32, 33);
    border-radius: 25px;
    border: rgb(214, 32, 33);
    letter-spacing: 1.08px;
}

#deleteBtn:hover {
    color: black;
}

.headline {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 35px;
    font-weight: bolder;
}

.upper-link {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1rem;   
    margin: auto;
}

.upper-link:hover {
    color: rgb(165, 234, 255);
}

.link {
    color: rgba(29, 29, 27, 0.5);
    font-size: 1.5rem;
    margin-left: 15px;
}

.link:hover {
    color: rgb(29, 29, 27);    
}

a:hover {
    text-decoration: none;    
    color: rgb(184, 234, 250);
}

.summary {
    font-family: 'Montserrat', sans-serif;
    color:#696E6D;
    margin-left: 0;
    margin-right: 25px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

#new-note {
    margin-top: 25px;
    margin-bottom: 25px;
}

#message {
    margin-bottom: 15px;
    height: 100px;
}

#noteBtn {
    background-color:#2C63ae;
    border-radius: 25px;
    letter-spacing: 1.08px;
    color: white;
}

#noteBtn:hover {
    background-color: black;
}

#new-note {
    text-align: right;
}

.savedHeader {
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

#savedTop {
    text-align: center;    
    color: rgb(146, 224, 248);
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 1.25rem;
}

.col-md-4 {
    text-align: center;
}

.nav-wrapper{
    background-color: white !important;
}

nav{
    height: 30px;
    padding:20px;
    background-color: white !important;
    width: 100%;
    
}

p{
    font-family: 'Roboto', sans-serif;
  
}

.npr{
    color:#696E6D;
    font-family: 'Work Sans', sans-serif;
}

#linkbtn{
    background-color:#2C63ae;
    border-radius: 25px;
    letter-spacing: 1.08px;
}

.nav-item{
    font-family: 'Work Sans', sans-serif;
    margin-left: 5px;
    margin-top:10px;
}

.navbar{
    background-color: #575958 !important;
    width: 100%;
}

.news-scraper{
    color:#696E6D;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.news-scraper:hover{
    text-decoration: none;    
    color: rgb(184, 234, 250);
}

.scraped{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1.08px;
    font-size: 2rem;
}

#preview-modal.modal.fade.preview-modal.show{
    background: transparent !important;
    height:100% !important;
}